.mode {
  margin: 0.5rem 0.5rem;
}
.invite, .nav {
  margin: 1.5rem 0.5rem;
}
.invite {
  display: flex;
}
.invite input {
  width: 12rem;
}
chess-element #board {
  margin: 0.5rem;
}
.gameList {
  font-family: monospace;
}